# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [28]:
series_1 = pd.Series(data=np.random.randint(1, high=5, size=100))
series_2 = pd.Series(data=np.random.randint(1,3,100))
series_3 = pd.Series(data=np.random.randint(10000,30000,100))

0     4
1     1
2     3
3     2
4     3
     ..
95    1
96    4
97    1
98    2
99    3
Length: 100, dtype: int64

### Step 3. Let's create a DataFrame by joinning the Series by column

In [42]:
df_axis_1 = pd.concat([series_1, series_2, series_3], axis=1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [43]:
df_axis_1.rename(columns={0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
df_axis_1.head()

   bedrs  bathrs  price_sqr_meter
0      4       1            18820
1      1       2            22037
2      3       2            15044
3      2       2            17901
4      3       1            25418

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [51]:
bigcolumn = pd.concat([series_1, series_2, series_3], axis=0)
bigcolumn.to_frame()

        0
0       4
1       1
2       3
3       2
4       3
..    ...
95  23784
96  19724
97  24748
98  18678
99  18495

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [52]:
bigcolumn.reset_index(drop=True, inplace=True)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [53]:
bigcolumn

0          4
1          1
2          3
3          2
4          3
       ...
295    23784
296    19724
297    24748
298    18678
299    18495
Length: 300, dtype: int64